<!DOCTYPE html>
<html lang="en">

<head>
<title>MLKit by VTB</title>
<link rel="icon" href="https://www.vtb.ru/favicon.ico" sizes="any">
<meta name="description" content="MLKit">
<link rel="stylesheet" href="/static/bootstrap.css">
<link rel="stylesheet" href="https://icons.getbootstrap.com/assets/font/bootstrap-icons.min.css">

</head>
<body>
    


<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5">
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <span class="fs-4">MLKit<sup style="color:#0085ff;">VTB</sup></span>
    </a>
  </header>

  <main>
    <h1 class="text-body-emphasis">Page is underconstruction</h1>

  <footer class="pt-5 my-5 text-body-secondary border-top">
    Created by VTB Data Science Risk Team &middot; &copy; 2023
  </footer>
</div>

  </body>
</html>
